<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <section name="StartupFolders" type="ConfigSectionTester.StartupFoldersConfigSection, ConfigSectionTester"/>
  <appSettings>
    <add key = "Host" value ="www.microsoft.com" />
    <add key ="Port" value ="80" />
    <add key="Period" value ="2" />
  </appSettings>
</configuration>